<!doctype html>
<title>Hello from Flask</title>
{% if event_list %}
  <h1>Hello, here are some events:</h1>
  <ul>
  {% for event in event_list %}
     <li>{{ event }}</li>
  {% endfor %}
  </ul>
{% else %}
  <h1>Hello World!</h1>
{% endif %}

<!-- Form goes here -->
{% raw %}
<h2>Schedule a call!</h2>
<form method="post" action="/new">

  <label for="user-summary">Summary</label>
  <input type="text" name="summary" id="user-summary">
  <br>

  <label for="user-name">Name</label>
  <input type="text" name="name" id="user-name">
  <br>

  <label for="user-email">Email</label>
  <input type="email" name="email" placeholder="your@email.com" id="user-email">
  <br>

  <label for="user-tel">Telephone Number</label>
  <input type="tel" name="tel" placeholder="212-555-5555" id="user-tel">
  <br>

  <label for="start-time">Datetime</label>
  <input type="text" name="start-time" placeholder="YYYY-MM-DD HH:MM" id="start-time">
  <br>

  <input type="submit" value="Schedule">
</form>
{% endraw %}